@font-face {
  font-family: "TripSans";
  src: url("./assets/fonts/trip-sans.otf") format("opentype");
  font-weight: normal;
  font-size: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "TripSans", sans-serif;
}

.navbar-container {
  display: flex;
  height: 60px;
  justify-content: center;
  gap: 200px;
  padding-top: 10px;
  border-bottom: solid rgba(128, 128, 128, 0.214) 1px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 2;
}

.navbar-s1 {
  display: flex;
  padding: 10px;
  cursor: pointer;
}
.navbar-s2 {
  display: flex;
  padding: 10px;
  gap: 20px;
  align-items: center;
}
.navbar-s2 p {
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
}
.navbar-s2 p:hover {
  color: gray;
  text-decoration: underline;
}
.navbar-s2 button {
  font-weight: bolder;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 30px;
}

.navbar-s2 button:hover {
  background-color: rgba(211, 211, 211, 0.386);
}

.navbar-s3 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-s3 span {
  font-size: 25px;
  color: rgba(211, 211, 211, 0.516);
}
.navbar-s3 p {
  display: flex;
  align-items: center;
  font-weight: bolder;
  gap: 10px;
  padding: 10px 16px;
  border-radius: 30px;
  cursor: pointer;
}

.navbar-s3 p:hover {
  background-color: rgba(211, 211, 211, 0.386);
}
.navbar-s3 button {
  border: none;
  padding: 10px 16px;
  background-color: black;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
.navbar-s3 button:hover {
  background-color: rgba(0, 0, 0, 0.77);
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  height: auto;
  gap: 30px;
}

.search-s1 h1 {
  font-size: 54px;
}

.search-s2 {
  display: flex;
  justify-content: space-around;
  width: 800px;
}
.search-s2__default {
  border-bottom: solid black 2px;
  padding-bottom: 10px;
}
.search-s2 p {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  padding-bottom: 10px;
  gap: 8px;
  cursor: pointer;
}

.search-s2 p:hover {
  border-bottom: 2px solid black;
  color: gray;
}
.search-s2 p:hover i,
.search-s2 p:hover .material-symbols-outlined {
  color: gray !important;
}

.search-s3 {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search-s3 input {
  width: 600px;
  height: 50px;
  border-radius: 30px;
  padding: 20px;
  border: none;
  font-size: 16px;
}
.search-s3 i {
  cursor: pointer;
}

.search-s3 button {
  padding: 16px 22px;
  background-color: rgb(132, 233, 189);
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.search-s3 button:hover {
  background-color: rgba(132, 233, 189, 0.53);
}

.advertisement-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
}

.advertisement-container img {
  border-radius: 20px;
}
.advertisement-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 360px;
  right: 290px;
  top: 40px;
}
.advertisement-content p {
  display: flex;
  font-size: 14px;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

.advertisement-content span {
  background-color: black;
  padding: 8px;
  border-radius: 10px;
  color: white;
}

.advertisement-content h1 {
  font-size: 52px;
  line-height: 1.1;
}
.advertisement-content h2 {
  font-size: 32px;
  margin-top: 10px;
}
.advertisement-content button {
  background-color: black;
  padding: 14px 24px;
  color: white;
  border-radius: 30px;
  border: none;
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
}
.advertisement-content button:hover {
  background-color: rgba(0, 0, 0, 0.83);
}
.explore-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;
  margin-left: 190px;
}
.explore-container__heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.explore-container__img {
  display: flex;
  gap: 20px;
}

.explore-container__img img {
  height: 272px;
  width: 272px;
  border-radius: 10px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 35%; /* Adjust height of fade effect */
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.image-text {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  font-size: 28px;
  font-weight: bolder;
  z-index: 2;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0); /* Initially transparent */
  transition: background 0.3s ease-in-out;
}
.image-wrapper:hover::before {
  background: rgba(255, 255, 255, 0.2); /* Light white overlay on hover */
}

.inspired-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 100px;
  gap: 20px;
}
.inspired-container__titles{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inspired-container__titles h1{
    font-size: 24px;
}
.inspired-container__cardgrid{
    display: flex;
    gap: 20px;
}
.inspired-container__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.inspired-container__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0); /* Initially transparent */
    transition: background 0.3s ease-in-out;
}
.inspired-container__card:hover::before {
    background: rgba(255, 255, 255, 0.2); /* Light white overlay on hover */
    cursor: pointer;
}
.inspired-container__card img{
    width: 100%;
    height: 267px;
    border-radius: 10px;
}
.inspired-container__card p{
    padding-top: 10px;
    cursor: pointer;
}
.inspired-container__likes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inspired-container__likes h4{
    color: gray;
}
.inspired-container__card:hover p,
.inspired-container__card:hover h3 {
    text-decoration: underline;
}